﻿@using Mapy.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = MVC.Shared.Views._LoginLayout;
}

    <div class="container" style="margin-top: 100px;">
        <div class="row">
            <div class="col-lg-offset-8 col-lg-4">
                <div class="well">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </div> 
                <div class="well">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-group form-group-md", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBoxFor(m => m.RememberMe) Remember me
                                </label> 
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success btn-block">Sign me up</button>
                    }

                    <p class="text-center">
                        @Html.ActionLink("Register as a new user", "Register")
                    </p>
                </div>
            </div>
        </div>
    </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}